@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
  font-family: "headline";
  src: url("../public/fonts/headline.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
     --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* --background: rgb(19,19,19); */
    --background: rgb(19, 19, 19);
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer components {
  .player-last {
    @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-sky-300 to-indigo-500
  }
  .connect-last {
    @apply
    bg-gradient-to-r from-sky-300 to-indigo-500
    text-sm text-white uppercase font-semibold
    shadow-md
    transition-colors
    hover:bg-gradient-to-l from-sky-300 to-indigo-500
    hover:text-indigo-900
    focus:bg-accent focus:text-indigo-900 focus:outline-blue-500
    h-10 w-max py-[2px] px-[16px] rounded-xl
  }

  .logo-last {
    @apply
    w-max rounded-md
    bg-red-800
    py-0 px-2
    items-center justify-center align-middle
    text-[30px]
    text-white
    transition-colors
    /* hover:bg-zinc-200 hover:text-indigo-900 */
    hover:bg-zinc-200 hover:text-blue-950

    cursor-default
  }

  .menu-last {
    @apply
    /* bg-transparent */
    text-white
    shadow-md
    /* hover:bg-slate-500 */
    /* focus:bg-slate-500 */
    /* data-[active]:bg-slate-700 */
    data-[state=open]:bg-blue-950
    disabled:pointer-events-none
    disabled:opacity-50
  }

  .beginnings-last {
    @apply text-blue-100

  }

  .day-last {
    @apply text-lime-500

  }

  .dusk-last {
    @apply text-purple-200

  }

  .night-last {
    @apply text-amber-500
  }

  .snow-last {
    @apply text-slate-300
  }


}
    /* hover:bg-accent hover:text-accent-foreground */
    /* focus:bg-accent focus:text-accent-foreground focus:outline-none */
    /* disabled:pointer-events-none disabled:opacity-50 */
    /* data-[active]:bg-accent/50 data-[state=open]:bg-accent/50 */
