@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font-family: 'VT323', monospace;
}

@font-face {
  font-family: 'VT323';
  src: url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
}

@font-face {
  font-family: 'headline';
  src: url('/fonts/headline.ttf');
}

@font-face {
  font-family: 'digit';
  src: url('/fonts/dsdigit.ttf');
}

.font-digit {
  font-family: 'digit', monospace;
}
/* @font-face {
  font-family: 'typewriter';
  src: url('/fonts/typewriter.ttf');
}

@font-face {
  font-family: 'kindergarten';
  src: url('/fonts/kindergarten.ttf');
} */

@font-face {
  font-family: 'whitrabt';
  src: url('/fonts/whitrabt.woff');
}

/* @font-face {
  font-family: 'whiterabbit';
  src: url('/fonts/whiterabbit.ttf');
} */

@font-face {
  font-family: 'oloron';
  src: url('/fonts/oloron.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* --background: rgb(19,19,19); */
    --background: rgb(19, 19, 19);
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer components {
  /* .player-last {
    @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-sky-300 to-indigo-500;
  } */

  /* .connect-last {
    @apply bg-gradient-to-r from-sky-300 to-indigo-500
    text-base text-white uppercase font-semibold
    shadow-md
    transition-colors
    hover:bg-gradient-to-l from-sky-300 to-indigo-500
    hover:text-indigo-900
    focus:bg-accent focus:text-indigo-900 focus:outline-blue-500
    h-10 w-max py-[2px] px-[16px] rounded-xl;
  } */

  /*--
  .menu-last {

    text-white
    shadow-md

    data-[state=open]:bg-blue-950
    disabled:pointer-events-none
    disabled:opacity-50;
  }
  --*/

  /* .border-rainbow {
    @apply background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  } */

  /* text-xl leading-tight text-zinc-800 dark:text-zinc-200  */

  /* links */
  /* .link-last {
    @apply italic bg-transparent active:underline hover:underline focus:outline-none focus:ring-1 disabled:pointer-events-none disabled:opacity-50 underline-offset-4;
  } */

  .text-light-last {
    @apply text-[#404833];
  }

  .text-dark-last {
    @apply text-[#FCFC03];
  }

  .text-primary-last {
    @apply text-[#FCFC03];
  }

  .text-secondary-last {
    @apply text-[#FCFDC7];
  }

  .bg-primary-last {
    @apply bg-[#404833];
  }

  .bg-secondary-last {
    @apply bg-[#39402e];
  }

  .border-primary-last {
    @apply border-[#FCFC03];
  }

  .border-secondary-last {
    @apply border-[#FCFDC7];
  }

  .inner-last {
    @apply border border-stone-500 bg-[#19212c] rounded-xl;
  }

  .outer-last {
    @apply border-2 border-stone-500 bg-[#19212c] rounded-xl;
  }

  .buy-last {
    @apply border-2 border-slate-600 bg-slate-800 rounded-xl;
  }

  .average-last {
    @apply border-2 border-indigo-500 bg-indigo-950 rounded-xl;
  }

  .keys-last {
    @apply border-2 border-zinc-500 bg-zinc-800 rounded-xl;
  }

  .secondary-text-last {
    @apply text-stone-400;
  }

  .numbers-text-last {
    @apply text-2xl font-digit;
  }

  /* .frame-last {
    @apply rounded-tr-md rounded-bl-md [clip-path:polygon(20px_0,100%_0,100%_50%,calc(100%-20px)_100%,0_100%,0_50%)];
  } */

  .logo-last {
    /* @apply text-[#11140C] bg-[#FCFC03]; */
    @apply text-primary-last bg-primary-last;
  }

  .header-last {
    @apply text-secondary-last bg-primary-last;
  }

  /* titles */
  .h1-last {
    @apply text-3xl text-zinc-700 dark:text-zinc-400;
  }

  /* modal sections */
  .h2-last {
    @apply text-3xl sm:text-2xl text-zinc-700 dark:text-zinc-100;
  }

  /* modal subsections */
  .h3-last {
    @apply text-xl sm:text-xl text-zinc-600 dark:text-zinc-200;
  }

  /* key trackers */
  .h4-last {
    @apply text-xl sm:text-2xl text-zinc-500 dark:text-zinc-200;
  }
  .body-last {
    @apply text-2xl sm:text-lg md:text-xl leading-tight text-zinc-200;
  }

  .h5-last {
    @apply text-base text-zinc-500 dark:text-zinc-300;
  }

  /* links */
  .h6-last {
    @apply text-xl sm:text-sm md:text-base leading-tight text-gray-500 dark:text-gray-400;
  }

  .digit-last {
    /* @apply font-whitrabt text-lime-700 dark:text-lime-300; */
    /* @apply font-whitrabt text-[#FCF03F] dark:text-[#FCF03F]; */
    @apply font-digit text-[#FCFDC7];
  }

  .round-last {
    @apply underline decoration-double;
  }

  .start-last {
    @apply text-blue-100;
  }

  .day-last {
    /* @apply text-lime-500; */
    @apply text-green-600;
  }

  .night-last {
    @apply text-amber-500;
  }

  .snow-last {
    @apply text-neutral-900;
  }

  .peace-last {
    @apply text-blue-800;
  }

  .drain-last {
    @apply text-red-400;
  }

  .color-last {
    @apply text-[#676FFF];
  }

  .container-last {
    @apply bg-slate-200 bg-opacity-30 border-2 border-slate-400/50
    /* dark:bg-slate-500 dark:bg-opacity-50; */;
  }

  @keyframes wiggle {
    /* rotate
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
    */

    /* scaling
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
    */

    /* wriggle */
    0%,
    7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-10deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-5deg);
    }
    30% {
      transform: rotateZ(5deg);
    }
    35% {
      transform: rotateZ(0deg);
    }
    40%,
    100% {
      transform: rotateZ(0);
    }
  }

  @keyframes flashing {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  /* animation: duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */

  .wiggle {
    animation: wiggle 1s linear 1;
  }

  .triggered-wiggle {
    animation: wiggle 1s linear 1;
  }

  .flash {
    animation: flashing 1s linear 1;
  }
}

/* .dusk-last {
  @apply text-purple-200;
} */
/* @apply lg:bg-slate-200 lg:bg-opacity-50 lg:border-2 lg:border-slate-400/50
    dark:lg:bg-slate-500 dark:lg:bg-opacity-50; */

/* hover:bg-accent hover:text-accent-foreground */
/* focus:bg-accent focus:text-accent-foreground focus:outline-none */
/* disabled:pointer-events-none disabled:opacity-50 */
/* data-[active]:bg-accent/50 data-[state=open]:bg-accent/50 */
